@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'ModernNergra';
  src: url('/fonts/ModernNegraDemo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-modern {
  font-family: 'ModernNergra', sans-serif;
}
.video video {
  @apply w-full h-64 md:h-96 lg:h-[32rem] rounded-2xl shadow-xl object-cover;
}
